desktop.ini
thumbs.db
folder.htt
mscreate.dir
.DS_Store
_CATALOG.VIX

profile/
var/
__MACOSX/
.vscode/
XtraStuf.mac/

sagyou/

*.log

*コピー*

yaya_variable.cfg

debuginfo.txt
ghost_bak/

ghost/master/target/
vars.json
